/* <**style body : backgroung image rainbow*> */

body {
	margin: 0 auto;
	width: 1040px;
	padding: 1em;
	background-image: url("#{resource['image:RainbowBackg.png']}");
	background-repeat: no-repeat;
	
}

/* gestion logo unicoorn */

.logo{
	
	position: relative;
	top: -10px;
}

/* gestion position du padlock login */

.login{
	
	margin-left: 800px;
}


/* gestion des h1 position couleur et font */
h1{
	margin-left: 700px;
	font-family: sans-serif;
	font-size: 25px;
	color: aqua;
}